.container {
  padding: 0 20px;
  background-color: #f9f9f9;
}

.video {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 10px;
}

.video > div {
  border-radius: 10px;
}