.container {
  padding: 0 20px 60px 20px;
  background-color: #f9f9f9;
}

.video {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 10px;
}

.video > div {
  border-radius: 10px;
}

.button {
  width: 100px;
  height: 50px;
  margin: 10px auto 10px auto;
  border-radius: 20px;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#search {
  width: 100%;
  padding: 10px;
  height: 70px;
  margin: 0 auto 20px auto;
}

.hide {
  display: none !important;
}