body {
  padding: 0;
  margin: 0;
}

* {
  text-decoration: none;
  list-style: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-nav {
  position: sticky;
  top: 0;
  max-width: 1920px;
  width: 100%;
  padding: 20px 0;
  z-index: 10;
  background-color: #f9f9f9;
}

.nav {
  margin: 20px;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.nav ul li {
  border-bottom: 1px solid #FAFAFA;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.nav ul li:hover {
  border-bottom: 1px solid black;
}

* {
  color: black;
}

.theme {
  max-width: 30px;
}

.nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo img {
  width: 40px;
}