.results {
  margin-bottom: 100px;
  max-height: 190px;
  overflow-y: scroll;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  padding-left: 10px;
}

.results-item {
  font-size: 20px;
  height: 20px;
}